doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Taller | #{nombreVista}
    style 
      include ../css/style.css
  body 
    main 
      aside.sidebar
        img(src='../images/Logo.png' alt='logo joly dips')
        section.botones
          a(href='/cliente/registro').btnSidebar  clientes 
          a(href='/producto/registro').btnSidebar  productos 
        footer 
          p Derechos Reservados &#169; Jaime Zapata Valencia
      section.content
        block formulario


